<div class="container">
{{ form_start(form) }}
    <div class="row">{{ form_row(form.modele) }}</div>
    <div class="row">{{ form_row(form.description|raw) }}</div>
    <div class="row">{{ form_row(form.prix) }}</div>
    <div class="row">{{ form_row(form.annee) }}</div>
    <div class="row">{{ form_row(form.marque) }}</div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
</div>