{% extends 'base.html.twig' %}

{% block title %}Computer
{% endblock %}

{% block body %}
	<h1>Computer</h1>

    <div class="show">
        <div class="show-img">
            <img src="https://www.cybertek.fr/images_produits/dac99848-d4d6-4a92-b65c-89b5bc29c331.jpg" alt="Photo de l'ordinateur">
        </div>

        <div class="show-content">
            <p>Modèle : {{ computer.modele }}</p>
        
            <p>Année de sortie : {{ computer.annee }}</p>

            <p>Numéro de série : {{ computer.numSerie }}</p>

            <p>Prix : {{ computer.prix }} €</p>

            <p>{{ computer.description }}</p>

	    <br><a href="{{ path('app_computer_index') }}">back to list</a>

	    <br><a href="{{ path('app_computer_edit', {'id': computer.id}) }}">edit</a>

	    {{ include('computer/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
